<nav id="navbar">
    {{ if .Site.Params.logo }}
    {{ end }}
    <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }} 
        <li>
            <a  href="{{ .URL }}"
                if="{{ .Identifier }}"
            >
                {{ .Name }}
            </a>
        </li>
    {{end}}
    </ul>

</nav>