<!doctype>
<html>
  {{ partial "header.html" . }}
  <body>

        {{ partial "navbar.html" .}}

    <h1 class="main-title">{{.Site.Title}}</h1>

    {{ range .Site.Params.sections }}
        {{ partial "section.html" . }}
    {{ end }}

    <section class="contact">
        {{ .Site.Params.contact.email }}
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>