@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');

@import 'variables.scss';


body {
    font-family: 'Open Sans', sans-serif;
    background-color: map-get($colors    , light );
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: map-get($colors, dark );
}

nav {
    margin: 20px 7%;
    ul {
        list-style-type: none;
        float: right;
    }

    li {
        display: inline-block;
        margin-left: 30px;
        font-size: 1.3em;
    }

    a {
        color: map-get($colors, dark );
        text-decoration: none;
    }
}

section {
    margin: auto;
    margin-top: 50px;
    display: table;
    vertical-align: middle;

    img {
        width: 30%;
        min-width: 250px;
        min-height: 250px;
    }
    div {
        display: table-cell;
    }
}

